$header-background-color:#2196F3;
$header-active-background-color:#1E88E5;

$main-background-color: rgba(0, 0, 0, 0.05);
$main-title-font-color: rgba(0, 0, 0, 0.87);
$main-description-font-color: rgba(0, 0, 0, 0.6);
$main-inner-font-color: white;
$main-inner-background: white;

$button-font-color: #FFFFFF;
$button-background:#2196F3;
$button-hover-background: #215BB5;

$button-contrast-font-color: #2196F3;
$button-contrast-background: #E3F2FD;
$button-contrast-hover-background: #56819f;

$card-right-background: rgba(10, 207, 131, 0.5);
$card-wrong-background: rgba(242, 78, 30, 0.5);

$pages-title-color: #333333;
$pages-description: rgba(0, 0, 0, 0.6);
$pages-decoration-line-background: rgba(33, 33, 33, 0.08);
$pages-decoration-color: #2196F3;

$popup-title-background: #FFFFFF;
$popup-main-background: #FAFAFA;

$font-family: 'Roboto', sans-serif;
$border-radius: 4px;
$border-radius-circle: 50%;
$box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.2), 0px 6px 10px rgba(0, 0, 0, 0.2);
$text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
$timer-font-color: rgba(0, 0, 0, 0.4);

$laptop-l-width: 1920px;
$content-width: 1200px;
$tablet-width: 640px;
$mobile-big-width: 540;
$mobile-small-width: 320px;
